.mySwiper .swiper-pagination-bullet {
  background-color: #9ca3af;
  opacity: 0.7;
  width: 8px;
  height: 8px;
  margin: 0 6px;
  border-radius: 9999px;
  transition: all 0.3s ease;
}

.mySwiper .swiper-pagination-bullet-active {
  background-color: #16a34a;
  opacity: 1;
  width: 20px;
}
