.custom-shape::after {
  content: '';
  position: absolute;
  top: -1px;
  left: -49px;
  height: 50px;
  width: 50px;
  background-color: white;
  clip-path: path('M0,0 Q60,10 50,100 H100 V0 Z');
}
.custom-shape::before {
  content: '';
  position: absolute;
  top: -1px;
  right: -49px;
  height: 50px;
  width: 50px;
  background-color: white;
  clip-path: path('M0,0 Q60,10 50,100 H100 V0 Z');
  transform: rotate(270deg);
}

@media (max-width: 768px) {
  .custom-shape::after {
    top: -1px;
    left: -29px;
    height: 30px;
    width: 30px;
  }
  .custom-shape::before {
    top: -1px;
    right: -29px;
    height: 30px;
    width: 30px;
  }
}
